---
import CtaButton from "../../components/buttons/CtaButton.astro"
import BaseLayout from "../../layouts/BaseLayout.astro";
import Background from "../../images/hero-bg.png"

const title = "Abstracts"
const description = "T IIG has instituted an award for the best paper presented by a single author of below the age of 30. The participants must be Indian Nationals and from the discipline of Geography."
---

<BaseLayout title={title} description={description}>
    <section class=`px-4 py-20 md:py-32` style=`background-image: url('${Background.src}')`>
        <div class="container mx-auto">
           <h2 class="mb-6 md:mb-10 font-display text-3xl md:text-5xl">Abstract for Young Geographers Award</h2>
            <CtaButton link="young-geographers-award">Submit Abstract for Young Geographers Award</CtaButton>
            <div class="h-8 md:h-10"></div>
            <CtaButton link="technical-session">Submit Abstract for Technical Session</CtaButton>
        </div>
    </section>
</BaseLayout>