---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Popup from "../../components/Popup.astro";
import GeneralInfoForm from "../../components/forms/GeneralInfoForm.astro";
import AbstractDetailsForm from "../../components/forms/AbstractDetailsForm.astro";

const title = "Abstracts for Technical Session"
const description = "IIG has instituted an award for the best paper presented by a single author of below the age of 30. The participants must be Indian Nationals and from the discipline of Geography."
---

<BaseLayout title={title} description={description}>
    <Popup/>
    <section class="bg-slate-100">
        <div class="container px-4 py-12 md:py-16 mx-auto">
            <h1 class="mb-4 md:mb-6 text-2xl md:text-4xl">Abstract for Technical Session</h1>
            <p class="mb-8 md:mb-12 text-lg md:text-xl text-slate-600 leading-relaxed">For any queries mail at iigconference2024@cottonuniversity.ac.in
            </p>

            <!-- General Information for main author-->
            <GeneralInfoForm id="author" form_id="author_form" heading="General Information of Corresponding Author" />
            <!-- General Information for co author 1-->
            <GeneralInfoForm id="co_author_1" form_id="co_author_form_1" heading="General Information of First Co-author" form_type="secondary" />
            <!-- General Information for co author 2-->
            <GeneralInfoForm id="co_author_2" form_id="co_author_form_2" heading="General Information of Second Co-author" form_type="secondary" />
            <!-- General Information for co author 3-->
            <GeneralInfoForm id="co_author_3" form_id="co_author_form_3" heading="General Information of Third Co-author" form_type="secondary" />
            <!-- General Information for co author 4-->
            <GeneralInfoForm id="co_author_4" form_id="co_author_form_4" heading="General Information of Fourth Co-author" form_type="secondary" />
            <!-- General Information for co author 5-->
            <GeneralInfoForm id="co_author_5" form_id="co_author_form_5" heading="General Information of Fifth Co-author" form_type="secondary" />

            <!-- Add co-author -->
            <button type="button" id="add_co_author" class="block ml-auto mb-6 md:mb-10 py-2 px-4 text-md md:text-lg text-green-900 disabled:text-gray-400 rounded-xl bg-green-300 disabled:bg-gray-200">Add Co-Author</button>

            <!-- Abstract Details Form -->
            <AbstractDetailsForm form_id="abstract_form" word_count="300"/>

            <!-- Button to submit multiple forms -->
            <button id="submit_forms" class=`w-full mb-8 px-5 md:px-6 py-3 md:py-4 rounded-b-lg font-medium md:text-lg text-white disabled:opacity-40 leading-none bg-green-900 disabled:bg-gray-400 enabled:hover:bg-green-800`>Submit Form</button>
        </div>
    </section>
</BaseLayout>

<script>
    import validateForm from "../../scripts/validate-form"
    import submitForms from "../../scripts/submit-forms.js"
    import createFormData from "../../scripts/create-formdata.js"

    const submitFormsBtn = document.getElementById('submit_forms')
    const addCoAuthorBtn = document.getElementById('add_co_author')
    const popup = document.getElementById('popup')
    const popupContent = document.getElementById("popup-content")
    let currentCoAuthor = 0

    function addCoAuthor() {
        currentCoAuthor++
        document.getElementById(`co_author_${currentCoAuthor}`).classList.remove("hidden")
        if(currentCoAuthor === 5) addCoAuthorBtn.disabled = true
    }

    addCoAuthorBtn.addEventListener("click", addCoAuthor)

    // function to handle form submission
    async function handleForms() {
        const authorForm = document.getElementById('author_form')
        const abstractForm = document.getElementById('abstract_form')
        const forms = [authorForm, abstractForm]
        const errors = []

        for (let i=1; i<=currentCoAuthor; i++) {
            forms.push(document.getElementById(`co_author_form_${i}`))
        }
        
        forms.forEach(form => validateForm(form) !== true && errors.push(validateForm(form)) )

        if(errors.length !== 0) alert(errors.join("\n\n"))
        else {
            const formData = createFormData(forms,"technical_session")
            const res = await submitForms(formData)
            popup.classList.remove("hidden")
            popupContent.textContent = res
        }
    }

    await submitFormsBtn.addEventListener('click', handleForms)
    
</script>