---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TechnicalSessionForm from "../../components/forms/TechnicalSessionForm.astro"

const title = "Abstracts for Young Geographers Award"
const description = "IIG has instituted an award for the best paper presented by a single author of below the age of 30. The participants must be Indian Nationals and from the discipline of Geography."
---

<BaseLayout title={title} description={description}>
    <section class="bg-slate-100">
        <div class="container px-4 py-12 md:py-16 mx-auto">
            <h1 class="mb-4 md:mb-6 text-2xl md:text-4xl">Abstract for Technical Session</h1>
            <p class="mb-8 md:mb-12 text-lg md:text-xl text-slate-600 leading-relaxed">For any queries mail at iigconference2024@cottonuniversity.ac.in
            </p>
            <TechnicalSessionForm/>
        </div>
    </section>
</BaseLayout>
