---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Popup from "../../components/Popup.astro";
import GeneralInfoForm from "../../components/forms/GeneralInfoForm.astro";
import AbstractDetailsForm from "../../components/forms/AbstractDetailsForm.astro";

const title = "Abstracts for Young Geographers Award"
const description = "IIG has instituted an award for the best paper presented by a single author of below the age of 30. The participants must be Indian Nationals and from the discipline of Geography."
---

<BaseLayout title={title} description={description}>
    <Popup/>
    <section class="bg-slate-100">
        <div class="container px-4 py-12 md:py-16 mx-auto">
            <h1 class="mb-4 md:mb-6 text-2xl md:text-4xl">Abstract for Young Geographers Award</h1>
            <p class="mb-8 md:mb-12 text-lg md:text-xl text-slate-600 leading-relaxed">Young scholars interested to take part in the competition must send an abstract of about 500 words by the deadline of November 07, 2023. For further details check <a href="/guidelines" class="underline">Guidelines</a> page on the Website.
            </p>
            <!-- General Information for main author-->
            <GeneralInfoForm id="author" form_id="author_form" page="young-geographers-award" heading="General Information" />
           
            <!-- Abstract Details Form -->
            <AbstractDetailsForm form_id="abstract_form" word_count="500"/>

            <!-- Button to submit multiple forms -->
            <button id="submit_forms" class=`w-full mb-8 px-5 md:px-6 py-3 md:py-4 rounded-b-lg font-medium md:text-lg text-white disabled:opacity-40 leading-none bg-green-900 disabled:bg-gray-400 enabled:hover:bg-green-800`>Submit Form</button>
        </div>
        </div>
    </section>
</BaseLayout>


<script>
    import validateForm from "../../scripts/validate-form"
    import handleForms from "../../scripts/handle-forms"
    const submitFormsBtn = document.getElementById('submit_forms')
    const popup = document.getElementById('popup')
    const popupContent = document.getElementById("popup-content")
    
    // function to handle form submission
    function submitForms() {
        const authorForm = document.getElementById('author_form')
        const abstractForm = document.getElementById('abstract_form')
        const forms = [authorForm, abstractForm]
        const errors = []
       
         forms.forEach(form => validateForm(form) !== true && errors.push(validateForm(form)) )

         if(errors.length !== 0) alert(errors.join("\n\n"))
         else {
            popup.classList.remove("hidden")
            popupContent.textContent = "Form Submitted Successfully!"
        }
    }

    submitFormsBtn.addEventListener('click', submitForms)
</script>