---
import { Image } from 'astro:assets';
import DefaultButton from '../buttons/DefaultButton.astro';
import BrochureCover from "../../images/brochure-cover.jpg"
---

<section class="bg-orange-100">
    <div class="container mx-auto px-4 py-20 md:py-32  flex flex-col justify-center items-center">
        <h2 class="mb-8 md:mb-12 font-display text-2xl md:text-5xl text-center">Download Brochure</h2>
        <div class="relative">
            <!-- Overlay -->
            <div class="absolute inset-0 bg-black opacity-70 z-10"></div>
          
            <Image class='drop-shadow-2xl' src={BrochureCover} alt="Brochure"/>
          
            <div class="flex absolute bottom-8 right-2 z-20 gap-2 drop-shadow-xl shadow-slate-4900">
                <DefaultButton style='outline' download="brochure.pdf" link='/brochure.pdf' >Download</DefaultButton>
                <DefaultButton target='_blank' link='/brochure.pdf'>View</DefaultButton>
            </div>
            
          </div>
    </div>
</section>