---
import { Image } from 'astro:assets';
import CtaButton from '../buttons/CtaButton.astro';
import BrochureCover from "../../images/brochure-cover.jpg"
---

<section class="bg-orange-100">
    <div class="container mx-auto px-4 py-20 md:py-32  flex flex-col justify-center items-center">
        <h2 class="mb-8 md:mb-12 font-display font-semibold text-2xl md:text-5xl text-center">Download Brochure</h2>
        <div class="relative">
            <!-- Overlay -->
            <div class="absolute inset-0 bg-black opacity-70 z-10"></div>
          
            <Image class='drop-shadow-2xl' src={BrochureCover} alt="A bird sitting on a nest of eggs."/>
          
            <div class="absolute bottom-8 left-2/4 z-20 drop-shadow-2xl shadow-slate-4900">
                <CtaButton download="brochure.pdf" link='/brochure.pdf'>Dowload</CtaButton>
            </div>
            
          </div>
    </div>
</section>