---
import Slider from "../Slider.astro";
import DefaultButton from "../buttons/DefaultButton.astro";
import {LANDING_HERO_TITLE, LANDING_HERO_SUBTITLE} from "../../consts"
import Background from "../../images/hero-bg.png"
---

<section class=`pt-20 md:pt-32 relative` style=`background-image: url('${Background.src}')`>
    <div class="container mx-auto flex flex-col justify-center items-center">
        <div class="w-64 md:w-96 mb-10 md:mb-14 flex justify-center items-center space-x-12">
            <div class="w-1/2">
               <img src="logo-cu.png" alt="Image 1" class="w-full" />
            </div>
            <div class="w-1/2">
               <img src="logo-main.png" alt="Image 1" class="w-full" />
            </div>
             <div class="w-1/2">
               <img src="logo-iig.png" alt="Image 2" class="w-full" />
            </div>
        </div>
        <h1 class="mb-6 md:mb-10 font-display leading-[1.15] text-[30px] md:text-[56px] text-center">{LANDING_HERO_TITLE}</h1>
        <p class="mb-8 md:mb-12 text-xl md:text-2xl text-center text-gray-600">{LANDING_HERO_SUBTITLE}</p>
        <div class="mb-24 flex gap-3 md:gap-4">
            <DefaultButton link="/about" style="outline">Learn More</DefaultButton>
            <DefaultButton link="/registration">Registration</DefaultButton>
        </div>
        <div class="">
            <Slider/>
        </div>
    </div>
</section>