
---
import CtaButton from "../buttons/CtaButton.astro"
import {LANDING_THEME_TITLE} from "../../consts"
---
<section class="container mx-auto px-4 py-20 md:py-32  flex flex-col justify-center items-center">
    <h2 class="mb-12 md:mb-20 font-display text-2xl md:text-5xl text-center text-[#1A5112]">{LANDING_THEME_TITLE}</h2>
    <div class="grow-0"><CtaButton link="/themes">Explore More Themes</CtaButton></div>
</section>