
---
import CtaButton from "../buttons/CtaButton.astro"
---
<section class="container mx-auto px-4 py-20 md:py-32  flex flex-col justify-center items-center">
    <p class="mb-12 md:mb-20 text-l md:text-2xl md:leading-9 text-center text-[#1A5112]">Development, a multifaceted concept, seeks to improve overall quality of life across dimensions like technology, culture, and ecology. Yet, today's society faces two key challenges: growing land use due to population growth, straining the environment, and resource depletion, plus climate change, threatening water and weather. Unregulated consumerism widens gender disparities and erases local cultures and production. However, recognizing region-specific practices and regulations for resilient, sustainable systems in diverse Indian landscapes is crucial. Modern science and technology, along with indigenous wisdom, are essential for sustainability. In our interconnected world, we must tackle poverty, inequality, and emerging issues like climate change and shifting global power dynamics. This conference aims to address these issues locally, regionally, and globally. The conference under the aegis of the Institute of Indian Geographers focuses on the following sub-themes for plenary discussions</p>
    <div class="grow-0"><CtaButton link="/themes">Explore More Themes</CtaButton></div>
</section>