---
import BaseLayout from "../layouts/BaseLayout.astro";
import Background from "../images/hero-bg.png"
---

<BaseLayout title="About 44th IIG Conference" description="About 44th IIG Conference">
    <section class=`px-4 py-20 md:py-32` style=`background-image: url('${Background.src}')`>
        <div class="container mx-auto">
            <h1 class="mb-6 md:mb-10 font-display text-4xl md:text-6xl">About the Institute of Indian Geographers</h1>
            <p class="text-lg md:text-xl leading-relaxed">Established in 1979 with the Department of Geography, Savitribai Phule Pune University as
                its registered headquarters, IIG strives to promote geographical knowledge by research,
                teaching and related academic and social activities as will directly or indirectly lead to the
                growth of Geography. Since its foundation, IIG has been regularly publishing the bi-annual
                journal, the ‘Transactions, Institute of Indian Geographers’; listed in SCOPUS and UGC
                CARE. IIG regularly organises the annual Geographer’s meet at different part of the country,
                and topical seminar from time to time. IIG at present has more than 1000 Life Members,
                Institutional Members, Annual Members and regular subscribers to the Journal. 
                </p>

                <h2 class="mt-16 md:mt-20 mb-6 md:mb-10 font-display text-4xl md:text-6xl">About the University</h2>
                <p class="text-lg md:text-xl leading-relaxed">
                    Cotton University (erstwhile Cotton College), a premier institute of higher education in
Northeastern region of India has been playing a pivotal role in academia in the nation since
its inception year 1901. In the year 2017, the government of Assam upgraded this premier
institute to a full-fledged University as recognition of its century old glory and academic
excellence. The University continues being a vibrant space for academic activities and looks
forward to the introduction of innovative programs in academics/research for both students
and faculty to cater to the requirements in the contemporary challenging global scene in
education.</p>
            <h2 class="mt-16 md:mt-20 mb-6 md:mb-10 font-display text-4xl md:text-6xl">About the Department</h2>
            <p class="text-lg md:text-xl leading-relaxed">
                    Established in 1959, the Department of Geography introduced Undergraduate Honours
(Core) courses both in Arts and Science streams in 1962. The Department introduced the
Postgraduate programme from the session 1984-85 under the Gauhati University. In the year
1990, the Department got recognition from Gauhati University for carrying out research for
Ph.D.
The rich academic history of the department, outcome of the sheer dedication of the
distinguished teachers associated with the department since 1959, led to an illustrious alumni
spread across the world. The strong alumni took initiative to form the Cotton Geography
Alumni Association in the year 2017. The alumni association keeps actively associated with
the department and since its inception has introduced the best graduate and best post graduate
awards for the students of the department. </p>
        </div>
        
    </section>
</BaseLayout>