---
import BaseLayout from "../layouts/BaseLayout.astro";
import Background from "../images/hero-bg.png"
import ThemeConfig from "../../theme-config.json"

const data = ThemeConfig.pages.themes
---

<BaseLayout title="Themes" description="Against this backdrop, the conference under the aegis of the Institute of Indian Geographers focuses on the following sub-themes for plenary discussions.">
    <section class=`px-4 py-20 md:py-32` style=`background-image: url('${Background.src}')`>
        <div class="container mx-auto">
            <h1 class="mb-6 md:mb-10 font-display font-semibold md:font-medium text-4xl md:text-6xl">{data["heading-primary"]}</h1>
            <p class="mb-16 md:mb-20 text-lg md:text-xl leading-relaxed">
                {data.description}
            </p>
            <h2 class="mb-3 md:mb-6 font-display font-semibold md:font-medium text-3xl md:text-5xl">{ThemeConfig.pages.themes["heading-secondary"]}</h2>
            <p class="mb-8 text-xl md:text-2xl">{data.subheading}</p>
            <ul>
                {
                    data.list.map(item => (
                        <li class="mb-5 text-lg md:text-xl"><img src="/icons/tree.png" alt="icon" class="mr-2 md:mr-4 w-6 md:w-8 inline rotate-45">{item}</li>
                    ))
                }
            </ul>
        </div>
    </section>
</BaseLayout>