---
interface Props {
    type: "New" | "Expired",
    text: String
}

const {type, text} = Astro.props
---

<div class=`w-full mb-6 p-4 md:p-6 border rounded-lg ${type==="New" ? "bg-green-100 border-green-400" : "bg-yellow-100 border-yellow-300"}`>
    <h3 class=`md:pb-2 text-l md:text-xl ${type==="New" ? "text-green-800" : "text-yellow-800"} font-semibold`>{type}</h3>
    <p class=`md:text-lg text-${type==="New" ? "green" : "yellow"}-900`>{text}</p>
</div>