<footer class="py-3 md:py-4 px-4 bg-slate-800">
    <div class="container mx-auto my-12 flex flex-col md:flex-row gap-20 md:gap-16">
        <div class="flex-1">
            <h3 class="mb-4 md:mb-6 font-display text-2xl md:text-3xl text-white">Details</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
            <img src="/logo-cu.png" alt="Cotton University Logo" class="my-8 w-24">
            <ul class="text-l md:text-xl text-white">
                <li class="pb-3">Venue - Cotton University
                    Guwahati, 01 
                    Kamrup Metro
                    Assam, India</li>
                <li>Date: 22-24th January, 2024</li>
            </ul>
        </div>
        <div class="flex-1">
            <h3 class="mb-4 md:mb-6 font-display text-2xl md:text-3xl text-white">Resources</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
            <ul class="mt-8 flex flex-col gap-4 text-l md:text-xl">
                <li>
                    <a href="https://iigeo.org/" class="font-medium text-gray-300">iigeo.org</a>
                </li>
                <li>
                   <a href="https://cottonuniversity.ac.in/" class="font-medium text-gray-300">cottonuniversity.ac.in</a>
                </li>
            </ul>
        </div>
        <div class="flex-1">
            <h3 class="mb-4 md:mb-6 font-display text-2xl md:text-3xl text-white">Contact</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
            <ul class="mt-8 flex flex-col gap-4 text-l md:text-xl text-gray-400">
                <li>
                    <iframe class="w-1/2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.285030676951!2d91.74219268885497!3d26.187404700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5bb540b02e39%3A0x3df1d653621f8b33!2sCotton%20University!5e0!3m2!1sen!2sin!4v1695137384711!5m2!1sen!2sin" style="border:100;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </li>
                <li>
                    <a href="mailto:iigconference2024@cottonuniversity.ac.in">iigconference2024@cottonuniversity.ac.in</a>
                </li>
            </ul>
        </div>
    </div>
</footer>