<footer class="py-3 md:py-4 px-4 bg-slate-800">
    <div class="container mx-auto my-12 flex flex-col md:flex-row gap-20 md:gap-12">
        <div class="flex-1">
            <h3 class="mb-4 md:mb-6 font-display text-2xl md:text-4xl text-white">Details</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
            <img src="/logo-cu.png" alt="Cotton University Logo" class="mx-auto my-8 w-24">
            <ul class="text-l md:text-xl text-white">
                <li class="pb-3">Venue: Cotton University</li>
                <li>Date: 22-24th January, 2024</li>
            </ul>
        </div>
        <div class="flex-1">
            <h3 class="mb-4 md:mb font-display text-2xl md:text-4xl text-white">Resources</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
        </div>
        <div class="flex-1">
            <h3 class="mb-4 md:mb font-display text-2xl md:text-4xl text-white">Contact</h3>
            <div class="h-1 w-20 rounded bg-[#C4DEBD]"></div>
        </div>
    </div>
</footer>