<div class="my-10 flex flex-col md:flex-row bg-slate-50 border border-slate-200 rounded-lg">
    <div class="md:w-1/2 p-4 md:p-6">
        <p class="mb-4 text-lg font-medium text-gray-700">Account details</p>
        <p class="mb-2.5 text-gray-700">
            <span class="font-medium">Bank Name: </span> State Bank of India  
        </p>
        <p class="mb-2.5 text-gray-700">
            <span class="font-medium">Account Number: </span> 38544216748  
        </p>
        <p class="mb-2.5 text-gray-700">
            <span class="font-medium">IFSC: </span> SBIN 0000078  
        </p>
    </div>
    <div class="md:w-1/2 p-4 md:p-6 border-t md:border-t-0 md:border-l">
        <p class="mb-4 text-lg font-medium text-gray-700">Payment details</p>
        <p class="mb-2.5 text-gray-700">
            <span class="font-medium">For Indian Delegates: </span> Transfer of payments can be done through NEFT/RTGS/QR Code/UPI/Net Banking.  
        </p>
        <p class="mb-2.5 text-gray-700">
            <span class="font-medium">For Foreign Delegates: </span> For early bird registration of foreign delegates kindly contact through <a href="mailto:iigconference2024@cottonuniversity.ac.in" class="underline">iigconference2024@cottonuniversity.ac.in</a>
        </p>
    </div>
</div>