<div class="max-w-full overflow-scroll md:overflow-auto mt-8">
    <table class="bg-slate-50">
        <caption class="mb-3 caption-top font-medium text-slate-600">
            Table : Registration Details
          </caption>
        <tr>
            <th></th>
            <th colspan="2">Early Bird Registration up to December 31, 2023</th>
            <th colspan="2">January 01 to January 15, 2024 </th>
        </tr>
        <tr>
            <th></th>
            <th>India and SAARC Countries</th>
            <th>Other than SAARC Countries</th>
            <th>India and SAARC Countries</th>
            <th>Other than SAARC Countries</th>
        </tr>
        <tr>
            <th>Delegates/Faculty with paper </th>
            <td>Rs. 3000/</td>
            <td>US $150/</td>
            <td>Rs. 4000/</td>
            <td>US $200/</td>
        </tr>
        <tr>
            <th>General Delegates without  papers</th>
            <td>Rs. 1500/</td>
            <td>US $100/</td>
            <td>Rs. 2500/</td>
            <td>US $150/</td>
        </tr>
        <tr>
            <th>Delegates/Faculty with paper </th>
            <td>Rs. 1000/</td>
            <td>US $100/</td>
            <td>Rs. 1500/</td>
            <td>US $150/</td>
        </tr>
        <tr>
            <th>Accompanying Person</th>
            <td>Rs. 1500/</td>
            <td>US $100/</td>
            <td>Rs. 2500/</td>
            <td>US $150/</td>
        </tr>
    </table>
</div>


<style>
   table { 
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th, td {
    padding: 5px 4px 6px 4px; 
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #ddd;   
    padding: 16px; 
}

th {
    border-bottom: 1px solid #ddd;
    color: rgb(75 85 99);
    font-weight: 600;
}

td {
    border-top: 1px solid #ddd;    
}

:is(tr:first-child, tr:last-child) th:first-child {
    border-bottom: none;
}

th:first-child {
    border-left: none;
}
</style>