<select id="subthemes" name="subthemes" class="form-control" class:list={"w-full py-3 px-4 border rounded border-slate-300 bg-slate-50 focus:bg-white"}>
    <option value="Agriculture, culture of agriculture, resources management and livelihood in the changing environment.">Agriculture, culture of agriculture, resources management and livelihood in the changing environment.</option>
    <option value="Population of India: spatial dynamics and development, population and the environment">Population of India: spatial dynamics and development, population and the environment</option>
    <option value="Hazards and disasters: indigenous disaster resilient approaches, policies and programmes of the state">Hazards and disasters: indigenous disaster resilient approaches, policies and programmes of the state</option>
    <option value="Gender and space: Physical and institutional environment and gender in India, continuity and change">Gender and space: Physical and institutional environment and gender in India, continuity and change</option>
    <option value="Landscape: Forms, processes, changes, and human intervention">Landscape: Forms, processes, changes, and human intervention</option>
    <option value="Management of ecosystems, human activities and the ecosystems: adaptation and sustainability">Management of ecosystems, human activities and the ecosystems: adaptation and sustainability</option>
    <option value="Rural landscape, developments, and lesser known communities">Rural landscape, developments, and lesser known communities</option>
    <option value="Urban issues and problems, making urban settlements liveable">Urban issues and problems, making urban settlements liveable</option>
    <option value="Modern geo-spatial techniques in development research in India">Modern geo-spatial techniques in development research in India</option>
    <option value="Traditional manufacturing and value adding sectors in India: dynamics of development and challenges">Traditional manufacturing and value adding sectors in India: dynamics of development and challenges</option>
    <option value="Flagship development programmes and welfare initiatives in India: Social, Economic and Environmental Outcomes">Flagship development programmes and welfare initiatives in India: Social, Economic and Environmental Outcomes</option>
    <option value="Geo-political issues in an interconnected world">Geo-political issues in an interconnected world</option>
    <option value="Tourism development and the environment">Tourism development and the environment</option>
    <option value="Wetland, soil, and hydrology">Wetland, soil, and hydrology</option>
    <option value="Climate change and climate change like situations: trend and challenges">Climate change and climate change like situations: trend and challenges</option>
    <option value="Any other areas that could be related to the theme of the Conference.">Any other areas that could be related to the theme of the Conference.</option>
</select>